body{
    background-color: darkred;
    color: cyan;
}
.heading{
    width: 80%;
    font-size: 25px;
    color: deeppink;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color: greenyellow;
    font-size: 20px;
}
#camera,#result{
    border: 2px solid pink;
    height: 400px;
    width: 400px;
}
